<% if session[:user] %>
	Welcome you are logged in <%= session[:user] %>

	 <div class="row">
          
          	<!-- 'Homework' section -->
            <div class="span8 pull-right pannel">
                <h3>Your tasks</h3>
                
                <table>
                
                	<% @hi.each do |item| %>
                      <tr>
                        <td><%= item.content %></td>
                        <td><input id="chk1" type="checkbox" checked='<%= item.done %>'></td>
                        
                      </tr>
                    <% end %>
                
                </table>
            </div>
            
        </div>
        
        <div class="row">
          
            

            <div class="span4 pull-right pannel">
                <h3>How do you feel?</h3>
                <!-- Patient feedback -->
                <%= form_tag("dashboard/insertMood", :method => "post") do %>

            	<%= text_area_tag(:message) %><br/>
            	<!--
            	<textarea rows="5" cols="15">
                </textarea>
            	-->
                <!-- Faces -->
                
                
                <input type="radio" name="moodRating" value="1"><img src="assets/1.png" width=10% height=10%></input>
                <input type="radio" name="moodRating" value="2"><img src="assets/2.png" width=10% height=10%></input>
                <input type="radio" name="moodRating" value="3"><img src="assets/3.png" width=10% height=10%></input>
                <input type="radio" name="moodRating" value="4"><img src="assets/4.png" width=10% height=10%></input>
                <input type="radio" name="moodRating" value="5"><img src="assets/5.png" width=10% height=10%></input>
                
                <br/>
                
                <a href="/Moods/">View how you felt in the past</a>
                
                <!-- Submit Button -->
                <div class="row pull-right">
                
                    <!--<button type="submit " class="btn">Sumbit</button>-->
                <%= submit_tag("Sumbit", :class => 'btn primary')%>
                <% end %>
                </div>
                
            </div>
        
          
          	<!-- Demographics -->
          	<div class="span4 pull-right pannel" style="margin-right:0px;">
                <h3>Your clinician</h3>
            	<span><%= @c.name %></span>
            </div>
            
        </div>

        <div class="row pannel">
            <h3>Your recent messages</h3>
            <table>
           <% @cm.each do |message| %>
              <tr>
                <td><%= message.created_at.utc.strftime("%a, %b %e, %Y - %T") %></td>
              </tr>
              <tr>
                <td><ul><li><%= message.message %></li></ul></td>
              </tr>
            <% end %>
           </table>
            
        </div>
        
        <div class="row pannel">
            <h3>Your previous week</h3>
          	<!-- Feedback from DOCTOR MAN -->
                <img src="/assets/graph.jpg" style="height: 200px; width:100%; margin-top:20px;"/>
            
        </div>
<%else%>

<div class="row">

	<!-- Recent comments -->
	<div class="span5 pull-right">
		
	</div>

	<!-- Patient names -->
	<div class="span5" style="width:50%;">
		<h3>Patient Names</h3>
		<ul>
		<% @cp.each do |patient| %>
		<li><a href="/user?userID=<%=patient.id%>"><%= patient.name %></a></li>
		<%end%>
		</ul>
	</div>

    <!-- Patient chats -->
    <div class="span5">
        <h3>Patient Chats</h3>
        <table>
        <% @m.each do |patient| %>
            <tr>
                <td><%= patient.created_at.utc.strftime("%a, %b %e, %Y - %T") %></td>
            </tr>
            <tr>
                <td><ul><li><%= patient.message %></li></ul></td>
            </tr>
        <%end%>
        </table>
    </div>

</div>

<div class="row">

	<!-- Mood graph -->
	<div class="span12">

        <img src="/assets/graph.jpg" style="height: 200px; width:100%; margin-top:100px;"/>
		<script src="http://d3js.org/d3.v3.js"></script>
        <script src="/assets/javascripts/d3.js"></script>
		

	</div>

<div>
<%end%>




