<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Mood:</b>
  <%= @message.mood_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
