<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @mood.message %>
</p>

<p>
  <b>Mood:</b>
  <%= @mood.mood %>
</p>

<p>
  <b>User:</b>
  <%= @mood.user_id %>
</p>

<% if session[:user] != nil %>
	<% session[:mood_id] = @mood.id %>

	<%= form_tag("/moods/comment", :method => "post") do %>

	<%= text_area_tag(:message) %><br/>

	<%= submit_tag("Add Comment", :class => 'btn primary')%>

	<%end%>
<% end %>

<% if session[:clinitian] != nil %>
	<% session[:mood_id] = @mood.id %>

	<%= form_tag("/moods/commentClinitians", :method => "post") do %>

	<%= text_area_tag(:message) %><br/>

	<%= submit_tag("Add Comment", :class => 'btn primary')%>

	<%end%>
<% end %>


<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Back', moods_path %>
