<h1>Listing clinitian_messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Mood</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clinitian_messages.each do |clinitian_message| %>
  <tr>
    <td><%= clinitian_message.message %></td>
    <td><%= clinitian_message.mood_id %></td>
    <td><%= link_to 'Show', clinitian_message %></td>
    <td><%= link_to 'Edit', edit_clinitian_message_path(clinitian_message) %></td>
    <td><%= link_to 'Destroy', clinitian_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clinitian message', new_clinitian_message_path %>
